<div class="panel">
  <div class="list">
    <h2>
      Unearned Chains </br>
      <input class="match-input" type="text" ng-model="filter" placeholder="filter">
    </h2>
    <div class="item" ng-repeat="chain in unearned | filter:filter">
      {{chain.title}} | {{chain.reward}} | {{chain.category}} |
      <div style="display:flex">
        <gumball gumball="gumballDict[chain.gumballs[0]]"></gumball>
        <gumball gumball="gumballDict[chain.gumballs[1]]"></gumball>
      </div>
      <button class="float-button" ng-click="addChain(chain)">Earn Chain</button>
    </div>
  </div>
  <div class="list">
    <h2>Earned Chains</h2>
    <div class="item" ng-repeat="chain in earned">
      {{chain.title}} | {{chain.reward}} | {{chain.category}} |
      <div style="display:flex">
        <gumball gumball="gumballDict[chain.gumballs[0]]"></gumball>
        <gumball gumball="gumballDict[chain.gumballs[1]]"></gumball>
      </div>
      <button class="float-button" ng-click="removeChain(chain)">Unearn Chain</button>
    </div>
  </div>
</div>
