<ul>
  <li ng-click="tab='gumball'">Gumballs</li>
  <li ng-click="tab='chain'">Chains</li>
  <li ng-click="clearStorage()">Clear Storage {{clearStorage}}</li>
</ul>
{{profile}} {{what}}
<div ng-if="tab=='chain'">
  <input ng-model="chain.title" placeholde="title"/>
  <select ng-model="chain.gumballs[0]" ng-options="gb._id as gb.name for gb in gumballs | orderBy:'name'"/>
  </select>
  <select ng-model="chain.gumballs[1]" ng-options="gb._id as gb.name for gb in gumballs | orderBy:'name'"/>
  </select>
  <input ng-model="chain.reward" placeholde="title"/>
  <select ng-model="chain.category"/>
  <option>Gold</option>
  <option>Stats</option>
  <option>Gems</option>
  <option>Pots</option>
  <option>Gold Pots</option>
  <option>Other</option>
  </select>
  <button ng-click="createChain(chain);chains.push(chain);chain = {category:chain.category, gumballs:[]};"> Create Chain</button>

  <div ng-repeat="chain in chains">

    {{chain.title}} | {{chain.reward}} | {{chain.category}} |
    <div style="display:flex">
      <gumball gumball="gumballDict[chain.gumballs[0]]"></gumball>
      <gumball gumball="gumballDict[chain.gumballs[1]]"></gumball>
    </div>
    <button ng-click="edit=!edit">Edit</button>
    <div ng-if="edit">
      <input ng-model="chain.title" placeholde="title"/>
      <select ng-model="chain.gumballs[0]" ng-options="gb._id as gb.name for gb in gumballs | orderBy:'name'"/>
      </select>
      <select ng-model="chain.gumballs[1]" ng-options="gb._id as gb.name for gb in gumballs | orderBy:'name'"/>
      </select>
      <input ng-model="chain.reward" placeholde="title"/>
      <select ng-model="chain.category"/>
      <option>Gold</option>
      <option>Stats</option>
      <option>Gems</option>
      <option>Pots</option>
      <option>Gold Pots</option>
      <option>Other</option>
      </select>
      <button ng-click="updateChain(chain);edit=falase">Save</button>
      <button ng-click="deleteChain(chain);edit=falase">Delete</button>
    </div>
  </div>
</div>


<div ng-if="tab=='gumball'">
  <input ng-model="gb.name" placeholder="name"/>
  <input ng-model="gb.image" placeholder="name"/>
  <select ng-model="gb.faction">
    <option value="Aoluwei's Blade">Aoluwei's Blade</option>
    <option value="Canas' Enlightenment">Canas' Enlightenment</option>
    <option value="Ranger's Song">Ranger's Song</option>
    <option value="Abyss' Roar">Abyss' Roar</option>
  </select>


  <button ng-click="createGumball(gb);gumballs.push(gb);gb = {faction:gb.faction};">Create</button>

  <br/>

    <div class="list">
      <div  ng-repeat="gb in gumballs">
        <div><gumball gumball="gb"></gumball>
          <button ng-click="edit=!edit">Edit</button>
          <div ng-show="edit">
            <input ng-model="gb.name"/>
            <input ng-model="gb.image"/>
            <select ng-model="gb.faction">
              <option value="Aoluwei's Blade">Aoluwei's Blade</option>
              <option value="Canas' Enlightenment">Canas' Enlightenment</option>
              <option value="Ranger's Song">Ranger's Song</option>
              <option value="Abyss' Roar">Abyss' Roar</option>
            </select>
            <button ng-click="updateGumball(gb);edit=falase">Save</button>
            <button ng-click="deleteGumball(gb);edit=falase">Delete</button>
          </div>
        </div>
      </div>
    </div>
</div>
