<div class="panel">
  <div class="list">
    <h1> Unearned Gumballs </br> <input class="match-input" type="text" ng-model="filter" placeholder="filter"></h1>
    <div class="item" ng-repeat="gb in all | filter:filter">
      <gumball gumball="gb"></gumball> <button class="float-button" ng-click="addGumball(gb)"> Add </button>
    </div>
  </div>
  <div class="list">
    <h1>Earned Gumballs</h1>
    <div class="item" ng-repeat="gb in my">
      <gumball gumball="gb"></gumball> <button class="float-button" ng-click="removeGumball(gb)"> Remove </button>
    </div>
  </div>
</div>
